@import url('https://fonts.googleapis.com/css2?family=Anton+SC&family=Carter+One&family=Caveat:wght@400..700&family=Delius&family=Handlee&family=Jolly+Lodger&family=Oswald:wght@200..700&family=Poppins:wght@300;400&family=Protest+Revolution&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rock+Salt&family=Shadows+Into+Light&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Jolly Lodger", system-ui;
}

:root{
    --color_1: #191616;
    --color_2: #403C34;
    --color_3: #F2F2F2;
    --color_4: #D9C7B8;
    --color_5: #8C7B6C;
    --color_6: #7C1012;

    --sombra_normal: 0px 8px 9px black;
    --sombra_fuerte: 0px 10px 2px black;

    --border_1: solid 5px #403C34;
    --border_2: solid 3px #403C34;
    --border_3: solid 5px #191616;
    --border_4: solid 3px #191616;
}

body{
    background-color: var(--color_1);
}

.general{
    position: fixed;
    top: 0;
    left: 0;
    width:100vw;
    height: 100vh;
    z-index: 10;
    pointer-events: none;
}

.general > img{
    width:100vw;
    height: 100vh;
    opacity: 0.05;
    pointer-events: none;
}